In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import os
import sys

In [4]:
path = Path(os.getcwd()) / 'output' / 'results.xlsx'
df_output = pd.read_excel(path)
df_output.head(10)

,Unnamed: 0,serial,response,score_obj,observed
0,NaN,NaN,NaN,NaN,NaN
1,0.0,15.0,she is balancing on one leg and is standing i...,3.0,0.831710
2,1.0,25.0,"there is a man looking ahead, he is smiling.",3.0,1.197886
3,2.0,33.0,One eye is gone and their mouth and nose skin...,2.0,0.597929
4,3.0,36.0,His face is not visible.,1.0,0.449666
5,4.0,38.0,"In another country, there's something that I'...",7.0,3.306721
6,5.0,39.0,A woman cried as another woman helped her in ...,7.0,2.257060
7,6.0,43.0,Several men are shown in what appears to be t...,4.0,4.168130
8,7.0,52.0,there is a chef holding a baby.,1.0,1.197632
9,8.0,60.0,"he has brown hair, tan, shirt dark.",1.0,0.074825

In [18]:
path2 = Path(os.getcwd(), 'LDH_Task_LD_LF_121219.xlsx')
path2


df_orig = pd.read_excel(path2)
df_orig.head(10)

,addcode,Group,Bin,Subj_ID,daycode,Cue1,Cue2,Group_ID,ReappSuccess,Condition,Rating,TextResponse
0,XAQ1001,X,AQ,1001,1,LOOK,CHANGE,OBJ,1.200000,RegNeg,2.100000,this is a photo of a man and woman who look li...
1,XAQ1001,X,AQ,1001,2,LOOK,CHANGE,OBJ,0.677778,RegNeg,2.222222,this is a cut off hand. it looks really bloody...
2,XAQ1001,X,AQ,1001,3,LOOK,CHANGE,OBJ,NaN,RegNeg,NaN,this is a baby in some hospital. the baby look...
3,YAQ2001,Y,AQ,2001,1,LOOK,CHANGE,FAR,1.000000,RegNeg,1.800000,"There was a couple arguing, with what looks li..."
4,XAQ1001,X,AQ,1001,4,LOOK,CHANGE,OBJ,-0.088889,RegNeg,2.200000,this looks like a police officer pushing down ...
5,XAQ1001,X,AQ,1001,5,LOOK,CHANGE,OBJ,-0.100000,RegNeg,1.800000,there is a woman looking down and to the side ...
6,YAQ2001,Y,AQ,2001,2,LOOK,CHANGE,FAR,2.100000,RegNeg,2.300000,This is a picture of a hand that has been cut ...
7,YBR2002,Y,BR,2002,1,CHANGE,LOOK,FAR,NaN,RegNeg,NaN,Someone's insides are cut open some time in th...
8,YAQ2001,Y,AQ,2001,3,LOOK,CHANGE,FAR,3.033333,RegNeg,1.666667,The baby was in the hospital. The baby seemed ...
9,YAQ2001,Y,AQ,2001,4,LOOK,CHANGE,FAR,0.900000,RegNeg,2.400000,There was a situation that involved police and...

In [22]:
df = pd.read_excel(path, sheet_name='farAway', index_col='serial')

In [23]:
df_combine = pd.merge(left=df_orig, right=df, left_on='TextResponse', right_on='response', how='left')
df_combine.to_csv("output/results_LDH_farAway_4.csv")

In [81]:
df_processed_obj = pd.read_excel(Path(os.getcwd()) / 'output' / "results_LDH.xlsx", sheet_name='farAway', index_col='serial')
df_new = pd.merge(left=df, right=df_processed_obj, left_on='TextResponse', right_on='response', how='left')
df_new.to_csv('output/results_LDH_farAway_3.csv')